.canvas.is-connecting {
  .canvas-node {
    &.hovering &::after {
      outline-style: solid;
      background-color: green;
    }

    &::after {
      content: "";

      $margin: 50px;
      $size: max(10px, calc(100% - $margin * var(--zoom-multiplier) * 2));

      z-index: 100;

      position: absolute;
      top: 50%;
      left: 50%;
      width: $size;
      height: $size;
      transform: translate(-50%, -50%);

      border-radius: var(--radius-m);
      outline: calc(5px * var(--zoom-multiplier)) dashed var(--color-accent);
    }
  }
}