//#region Path
.canvas-edges path {
  &[data-path='dotted'] {
    stroke-dasharray: calc(3px * var(--zoom-multiplier));
  }

  &[data-path='short-dashed'] {
    stroke-dasharray: 9px;
  }

  &[data-path='long-dashed'] {
    stroke-dasharray: 18px;
  }
}
//#endregion

//#region Arrow
.canvas-edges {
  [data-arrow='triangle-outline'], [data-arrow='diamond-outline'], [data-arrow='circle-outline'] {
    polygon {
      fill: var(--canvas-background);
      
      stroke: rgb(var(--canvas-color));
      stroke-width: calc(3px * var(--zoom-multiplier));
    }
  }

  [data-arrow='thin-triangle'] polygon {
    fill: transparent;
    
    stroke: rgb(var(--canvas-color));
    stroke-width: calc(3px * var(--zoom-multiplier));
  }
}
//#endregion