.canvas.is-exporting {
  --zoom-multiplier: 1;

  * {
    pointer-events: none !important;
    transition: none !important;
  }

  // Hide group collapse button
  .collapse-button {
    display: none;
  }

  #watermark-ac {
    z-index: 9999999;
    position: absolute;
  }
}
  
// Hide group collapse button
.canvas-wrapper[data-collapsible-groups-feature-enabled="true"] .canvas.is-exporting .canvas-node .canvas-group-label {
  left: 0;
}

.progress-bar-modal-ac {
  margin-top: .75em;

  &.error .setting-progress-bar {
    color: var(--color-error);
  }
}