.center-text-node .canvas-node-content {
  .markdown-preview-view {
    padding: 0 !important;
    overflow-y: initial;

    .markdown-preview-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;
    }
  }
}

/* Menu */
#more-menu-options {
  position: relative;

  &.expanded .custom-nodes-menu {
    visibility: visible;
    scale: 1;
  }

  .custom-nodes-menu {
    visibility: hidden;
    scale: 0;
    transform-origin: bottom left;
    transition: all 0.15s ease-in-out;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  
    margin-bottom: 10px;
    padding: 10px;
  
    background-color: var(--background-primary);
    border-radius: var(--radius-m);
    box-shadow: var(--input-shadow);

    .custom-node-button {
      padding: 10px;
      border-radius: var(--radius-s);

      &:hover {
        background-color: var(--background-secondary);
      }
    }
  }
}

/* Oval Node */
.oval-node .canvas-node-container {
  @extend .center-text-node;
  border-radius: 500px;
}

/* Rectangle Node */
.rectangle-node {
  @extend .center-text-node;
}

/* Diamond Node */
.diamond-node {
  @extend .center-text-node;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: var(--background-primary);
  }

  &::after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
  
    z-index: -1;
  
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);;
    background-color: rgb(var(--canvas-color));
  }

  /* Remove theme outline */
  &.is-themed .canvas-node-container {
    box-shadow: none;
  }
  
  /* Clip for theme but not while editing */
  .canvas-node-content:not(:has(.embed-iframe)) {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  .canvas-node-container {
    background-color: transparent;
    border: none;
    box-shadow: none;

    .canvas-node-placeholder::after {
      display: none;
    }
  }
}

/* Parallelogram Node */
.parallelogram-node .canvas-node-container {
  @extend .center-text-node;
  transform: skewX(-20deg);

  .canvas-node-content .markdown-embed-content {
    transform: skewX(20deg);
  }
}

/* Circle Node */
.circle-node .canvas-node-container {
  @extend .center-text-node;
  border-radius: 50%;
}

/* Predefined Node */
.predefined-node {
  @extend .center-text-node;
  $line-padding: 10px;

  padding: 0 $line-padding;

  &.is-focused::after, &.is-focused::before {
    background-color: var(--color-accent);
  }

  &::before, &::after {
    content: '';
    z-index: 1;

    position: absolute;
    top: 0;

    width: 2px;
    height: 100%;

    background-color: rgb(var(--canvas-color));
  }

  &::before {
    left: $line-padding;
  }

  &::after {
    right: $line-padding;
  }
}

/* Document Node */
.document-node {
  @extend .center-text-node;
  $wave-height: 10px;
  $border-width: 2px;

  .canvas-node-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-bottom: 0;
    box-shadow: none !important;
  }

  &.is-focused::after, &.is-focused::before {
    border-color: var(--color-accent);
  }

  &::before, &::after {
    content: '';
    z-index: 1;

    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: calc(50% + $border-width / 2);
    height: $wave-height;
    transform: translateY(50%);

    border: $border-width solid rgb(var(--canvas-color));
  }

  &::before{
    left: 0;
    transform: translateY($wave-height - $border-width);

    background-color: var(--background-primary);
    
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
  }
  
  &::after{
    right: 0;
    transform: translateY(-$border-width);
    
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }
}

/* Database Node */
.database-node {
  @extend .center-text-node;
  $oval-height: 50px;

  .canvas-node-container {
    border-radius: 0;
    border-bottom: 0;
    box-shadow: none !important;
  }

  /* Offset text if not editing */
  .canvas-node-content:not(:has(.embed-iframe)) {
    transform: translateY(calc($oval-height / 3));
  }

  &::after, &::before {
    background-color: var(--background-primary);
    border: 2px solid rgb(var(--canvas-color));
  }

  &.is-focused::after, &.is-focused::before {
    border-color: var(--color-accent);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: $oval-height;

    border-radius: 50%;
  }

  /* Top of cylinder */
  &::after {
    top: 0;
    transform: translateY(-50%);
  }

  /* Bottom of cylinder */
  &::before {
    bottom: 0;
    transform: translateY(50%);
  }
}