.canvas-node[data-is-portal-open='true'] {
  &:not(.is-focused):not(.is-selected) {
    pointer-events: none;
  }
  
  .canvas-node-container {
    background-color: transparent;
    border-style: dashed;

    .canvas-node-content {
      display: none;
    }
  }
}