.canvas-node[data-portal-to-file] {
  pointer-events: all;

  &:not(.is-focused) {
    pointer-events: none;
  }

  .canvas-node-container {
    background-color: transparent;
    border-style: dashed;

    .canvas-node-content {
      display: none;
    }
  }
}

.canvas-node-interaction-layer[data-target-portal-id] {
  .canvas-node-resizer {
    pointer-events: none;
    cursor: inherit;

    .canvas-node-connection-point {
      pointer-events: all;
    }
  }
}