.canvas-node[data-is-portal-loaded="true"] {
  pointer-events: all;

  &:not(.is-focused) {
    pointer-events: none;

    .canvas-node-label {
      pointer-events: all;
    }
  }

  .canvas-node-container {
    background-color: transparent;
    border-style: dashed;

    .canvas-node-content {
      display: none;
    }
  }
}

.canvas-node-interaction-layer[data-is-from-portal="true"] {
  .canvas-node-resizer {
    pointer-events: none;
    cursor: inherit;

    .canvas-node-connection-point {
      pointer-events: all;
    }
  }
}