.ac-settings {
  .kofi-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: var(--size-4-3);

    background-color: var(--background-primary-alt);

    border-radius: var(--radius-m);

    .ac-kofi-banner-title {
      margin: 0;

      font-size: var(--font-ui-small);
      font-weight: 600;
    }

    .ac-kofi-button {
      width: min-content;
      height: min-content;

      line-height: 0;

      img {
        min-width: 75px;
        width: 25%;
        max-width: 100px;
      }
    }
  }
}
