.properties-field {
  & > .setting-item-info {
    flex: 0;
    margin: 0;
    padding: var(--size-4-1) var(--size-4-2);

    border: var(--input-border-width) solid var(--background-modifier-border);
    border-radius: var(--input-radius) 0 0 var(--input-radius);
  }

  & > .setting-item-control > input {
    width: 100%;

    border-radius: 0 var(--input-radius) var(--input-radius) 0;
  }
}

.kofi-button {
  z-index: 999;

  position: absolute;
  bottom: var(--size-4-5);
  right: var(--size-4-5);

  height: 30px;

  img {
    height: 100%;
  }
}

.ac-settings-heading {
  &:not(:first-child) {
    margin-top: var(--size-4-10) !important;
  }
  
  border-bottom: 1px solid var(--color-accent);
}

details.setting-item {
  & > summary {
    margin-bottom: 0.75em;
  }

  & > *:not(summary) {
    padding-left: 1em;
    border-left: 1px solid var(--color-accent);
  }
}