.center-text-node .canvas-node-content {
  .markdown-preview-view {
    padding: 0 !important;
    overflow-y: initial;

    .markdown-preview-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;
    }
  }
}

.reactive-node {
  --border-color: rgb(var(--canvas-color));
  --box-shadow: none;

  /* Focused */
  &.is-focused, &.is-selected {
    --border-color: var(--color-accent);
    --box-shadow: var(--shadow-border-accent);
  }

  /* Themed */
  &.is-themed {
    --border-color: rgba(var(--canvas-color), 0.7);
  }

  &.is-themed {
    &.is-focused, &.is-selected {
      --border-color: rgb(var(--canvas-color));
      --box-shadow: var(--shadow-border-themed);
    }
  }
}

/* Menu */
#node-shape-option {
  position: relative;

  &.expanded .shapes-menu {
    visibility: visible;
    scale: 1;
  }

  .shapes-menu {
    visibility: hidden;
    scale: 0;
    transform-origin: bottom left;
    transition: all 0.15s ease-in-out;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
  
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  
    margin-bottom: 10px;
    padding: var(--size-2-1);
  
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-s);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);

    .custom-node-button {
      padding: 10px;
      border-radius: var(--radius-s);

      &:hover {
        background-color: var(--background-secondary);
      }
    }
  }
}

/* Oval Node */
.oval-shape .canvas-node-container {
  @extend .center-text-node;
  border-radius: 5000px;
}

/* Rectangle Node */
.rectangle-shape {
  @extend .center-text-node;
}

/* Diamond Node */
.diamond-shape {
  @extend .center-text-node;
  @extend .reactive-node;

  // https://yoksel.github.io/url-encoder/ - assets/diamond.svg
  $mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 141.42135624 141.42135624' preserveAspectRatio='none'%3E%3Cstyle%3E rect %7B transform-origin: center; transform: rotate(45deg) scale(1.05); %7D %3C/style%3E%3Crect fill='white' rx='8' x='20.71067812' y='20.71067812' width='100' height='100' /%3E%3C/svg%3E");

  @mixin masked {
    mask-image: $mask;
    -webkit-mask-image: $mask;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100%;
    -webkit-mask-size: 100%;
  }

  .canvas-node-container {
    border: none;
    box-shadow: none !important;

    /* Clip while not editing */
    &:not(:has(.embed-iframe)) {
      @include masked;
    }

    /* Clip placeholder */
    .canvas-node-placeholder::after {
      @include masked;
    }
  }

  /* Border */
  --border-width: 3px;
  &::before {
    @include masked;

    content: '';
    position: absolute;
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);

    background-color: var(--border-color);
  }

  /* Focused */
  &.is-focused, &.is-selected {
    --border-width: 5px;
  }

  /* Themed */
  &.is-themed .canvas-node-container {
    box-shadow: none;
  }
}

/* Parallelogram Node */
.parallelogram-shape .canvas-node-container {
  @extend .center-text-node;
  transform: skewX(-20deg);

  /* Fix blurry text */
  backface-visibility: hidden;

  .canvas-node-content .markdown-embed-content {
    transform: skewX(20deg);
  }
}

/* Circle Node */
.circle-shape .canvas-node-container {
  @extend .center-text-node;
  border-radius: 50%;
}

/* Predefined Node */
.predefined-process-shape {
  @extend .center-text-node;
  @extend .reactive-node;

  $line-padding: 10px;
  $line-width: 3px;

  .canvas-node-container {
    .canvas-node-content {
      padding: 0 $line-padding;
    }

    &::before, &::after {
      content: '';
      z-index: 1;

      position: absolute;
      top: 0;

      width: $line-width;
      height: 100%;

      background-color: var(--border-color);
      box-shadow: var(--box-shadow);
    }

    &::before {
      left: calc($line-padding - $line-width);
    }

    &::after {
      right: calc($line-padding - $line-width);
    }
  }
}

/* Document Node */
.document-shape {
  // M71.25 0C73.32 0 75 1.68 75 3.75L75 39.375Q56.25 29.25 37.5 39.375 18.75 49.5 0 39.375L0 3.75C0 1.68 1.68 0 3.75 0Z
  
}

/* Database Node */
.database-shape {
  @extend .center-text-node;
  @extend .reactive-node;
  $oval-height: 50px;

  .canvas-node-container {
    border-radius: 0;
    border-bottom: 0;
    border-top: 0;

    box-shadow: none !important;
  }

  /* Disable default theme fill */
  &.is-themed .canvas-node-content {
    background-color: transparent;
  }

  /* Add theme fill (if not editing) */
  &.is-themed:not(:has(.embed-iframe)) {
    .canvas-node-container, &::after, &::before {
      box-shadow: inset 0 0 0 1000px rgba(var(--canvas-color), 0.07) !important;
    }
  }

  /* Offset text if not editing */
  .canvas-node-content:not(:has(.embed-iframe)) {
    transform: translateY(calc($oval-height / 3));
  }

  /* Move top of cylinder to background */
  &:has(.embed-iframe)::after {
    z-index: -1;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: $oval-height;

    border-radius: 50%;
    border: 2px solid var(--border-color);
    
    background-color: var(--background-primary);
  }

  /* Top of cylinder */
  &::after {
    top: 0;
    transform: translateY(-50%);
  }

  /* Bottom of cylinder */
  &::before {
    bottom: 0;
    transform: translateY(50%);
  }
}