.canvas-node[data-is-sticker='true'] {
  &.is-focused, &.is-selected {
    .canvas-node-container {
      outline: 2px solid var(--color-accent);
    }
  }

  .canvas-node-label {
    display: none;
  }

  .canvas-node-container {
    border: none;
    box-shadow: none;
    background-color: transparent;

    .canvas-node-content {
      background-color: transparent;
    }
  }
}